{% extends "layout.html" %} {% block title %} Osaka {% endblock %} {% block
content %}
<h1 class="destination-title">Osaka</h1>
<p class="quote">
  Osaka is Japan's kitchen and entertainment capital, where vibrant street food,
  towering skyscrapers, and a boisterous spirit create an atmosphere unlike any
  other.
</p>

<div class="container clearfix">
  <p class="text">
    Ok fist and foremost, if you go to Osaka you need to go to Universal Studios
    Japan, USJ.
    <img
      class="image-center"
      src="/static/images/osaka_img/usj.jpg"
      alt="A picture of Universal Studio Japan"
    />
    Depending on what time of the year you go, it will be more crowded than
    usual. However, during New Years there is a special fireworks display, but
    make sure to plan ahead and get tickets early if that is what you want to
    do.
  </p>
</div>

<div class="container clearfix">
  <p class="text">
    Osaka is home to
    <a href="https://www.teamlab.art/e/botanicalgarden/"
      >teamLab Botanical Garden</a
    >, which is best to check out at night.
  </p>
</div>

<div class="container clearfix">
  <p class="text">
    <img
      class="image-center"
      class="image-left"
      src="/static/images/osaka_img/takoyaki.jpg"
      alt="A picture of a chef holding takoyaki"
    />
    Head your way to Dontonbori street. There you can try Osaka famous takoyaki.
    Along with taking a picture with the famous running man poster, just don't
    forget to make the pose with him.
    <img
      class="image-center"
      src="/static/images/osaka_img/running_guy.jpg"
      alt="A picture of the famoud running man in Osaka Dontonbori street"
    />
  </p>
</div>

<div class="container clearfix">
  <p class="text">
    Very close to Osaka is Kobe, where you can get Kobe famous wagyu beef. Just
    a 25 minute train ride from Osaka station to Kobe station!
    <img
      class="image-center"
      src="/static/images/osaka_img/wagyu_beef.webp"
      alt="a picture of wagyu beef from Kobe"
    />
  </p>
</div>

<div class="container clearfix">
  <p class="text">
    Also check out the Osaka castle, which is around 61,000 square meters (15
    acres), and contains thirteen structures, that are recongnized as "important
    cultural assets" by the Japanese government.
    <img
      class="image-center"
      src="/static/images/osaka_img/osaka_castle.jpg"
      alt="a picture of Osaka castle"
    />
  </p>
</div>

<div class="container clearfix">
  <p class="text">
    Osaka is very close to Kyoto, Nara, and Kobe. How about planning your trip
    around all these places to get the best out your trip!
  </p>
</div>
{% endblock %}qaa9
