{% extends "layout.html" %} {% block title %} Okinawa {% endblock %} 


{% block content %}
<h1 class="destination-title">Okinawa</h1>
<p class="quote">
    Okinawa is Japan’s tropical paradise, where turquoise waters, vibrant 
    island culture, and a unique Ryukyuan history set it apart from the mainland.
</p>
<p>
    If you are interested in the local culture and wanting to explore a natural cave,
    you should check out <a href="https://www.gyokusendo.co.jp.e.aqs.hp.transer.com/okinawaworld/">
    Okinawa World</a>. <img src="/static/images/okinawa_img/okinawa_world.jpg" alt="a picture of
    the cave in Okinawa World"> 
</p>
<p>
    Aquariums are always a good place to go. Especially one that is considered one of the world's
    largest. <a href="https://churaumi.okinawa/en/">Okinawa Churaumi Aquarium</a> has sharks, coral, fish,
    manta rays and more. <img src="/static/images/okinawa_img/aquarium.jpg" alt="a picture of Okinawa
    Churaumi Aquarium">
</p>
<p>
    Going to Shuri Castle offers you a great view of the city. <img src="/static/images/okinawa_img/shuri_castle.jpg" 
    alt="a picture of Shuri Castle in Okinawa">
</p>
<p>
    <a href="https://www.southeast-botanical.jp/en/">Southeast Botanical Garden</a> is a large
    botanical gargen where you can see native and non-native plants. You can enjoy workshops and 
    even see some animals. <img src="/static/images/okinawa_img/okinawa_botanical_garden.jpg" alt="
    a picture of the Southeast Botanical Garden in Okinawa">
</p>
<p>
    The Peace Memorial Park is a good place to look back at the history of WWII.
    <img src="/static/images/okinawa_img/okinawa_peace_memorial.jpg" alt="a picture of the 
    Peace Memorial Park in Okinawa">
</p>
<p>
    At the Futenma Shrine people pray for good fortune and this shrine also has a cave you can check out.
</p>
<p>
    And once you are all done with that find your way to <a href="https://naha-kokusaidori.okinawa/en/">
    Naha Kokusai Dori Shopping Street</a>! It's a mile of miricales.
    <img src="/static/images/okinawa_img/kokusaidori.jpg" alt="a picture of Kokusai Dori Street in Okinawa">
</p>


{% endblock}