{% extends "layout.html" %} {% block title %} Fukuoka {% endblock %} 



{% block content %}

<h1>Fukuoka</h1>
<p>
    Fukuoka is a coastal gem where ancient temples, cutting-edge architecture, 
    and a legendary ramen scene make for a dynamic and welcoming city.
</p>

<p>
    There is a <a href="https://www.teamlab.art/e/forest/">teamLab Forest</a> in Fukuoka you 
    should check out. You can capture the animals in the forest using an app on your phone.
    <video width="320" height="240" controls>
        <source src="/static/images/fukuoka_img/teamLab_forest.MOV" type="video/mp4">
      Your browser does not support the video tag.
      </video>
</p>
<p>
    The Fukuoka Tower is great place to see the views of Fukuoka from the observation deck.
    There is also a place for dining. <img src="/static/images/fukuoka_img/fukuoka_tower.jpg"
    alt="a picture of Fukuoka Tower">
</p>
<p>
    Tochoji Temple is famous for its huge wooden Buddha statue and ancient carvings.
    <img src="/static/images/fukuoka_img/tochoji.jpg" alt="a picture of Tochoji temmple in Fukuoka">
</p>
<p>
    <a href="https://canalcity.co.jp/english">Canal City</a> is a huge shopping mall with brand names
    and many dining options. <img src="/static/images/fukuoka_img/canal_city.jpg" alt="a picture of 
    Canal City Mall in Fukuoka">
</p>
<p>
    Kushida shrine is where the a huge festival is held every year.
    <img src="/static/images/fukuoka_img/kushida_shrine.jpg" alt="a picture of Kushida Shrine in Fukuoka">
</p>
<p>
    Dazaifu Tenmangu is a popular shrine that is dedicated to the god of learning. It also has
    gardens of plum trees.
    <img src="/static/images/fukuoka_img/dazaifu.jpg" alt="a picture of Dazaifu Tenmangu in Fukuoka">
</p>
<p>
    If you go to Nanzoin Temple you will see a 19th century Buddhist temple that has a 41 meter long reclining
    Buddha statue. <img src="/static/images/fukuoka_img/nanzoin.jpg" alt="a picture of a reclining Buddha at Nanzoin Temple">
</p>
<p>
    <a href="https://sakuraijinja.com/futamigaura/">Sakurai Futamigaura Couple Stone</a> are two rocks that are 
    joined together by a rope, connecting a male and female god. It also offers a beautiful scenic sunset view.
    <img src="/static/images/fukuoka_img/futamigauras.jpg" alt="a picture of Sakurai Futamigaura's Couple Stones">
</p>
<p>
    Check out <a href="https://faam.city.fukuoka.lg.jp/en/">Fukuoka Asian Art Museum</a>. It shows contemporary and
    historic artwork from different Asian countries.
    <img src="/static/images/fukuoka_img/fukuoka_asian_art_museum.jpg" alt="a picture of Fukuoka Asian Art Museum"> 
</p>
<p>
    Kawachi Fujien is a place to enjoy the the tunnels draped with wisteria flowers.
    <img src="/static/images/fukuoka_img/kawachi.jpg" alt="a picture of Kawachi Fujien">
</p>
<p> 
    For some fun activities good for children and adults check out <a href="https://www.taito.co.jp/NOBOLT">
        NOBOLT</a>.
 </p>
 <p>
    By 6:00pm you are probably hungry so go check out the <a href="https://g.co/kgs/KkDkeUZ">food stall</a>. 
 </p>

{% endblock %}