{% extends "layout.html" %} {% block title %} Tokyo {% endblock %} {% block
content %}
<h1 class="destination-title">Tokyo</h1>
<p class="quote">
  Tokyo is a city of endless contrasts, where ancient temples stand beside
  neon-lit skyscrapers, and the pulse of innovation beats in harmony with
  centuries-old traditions.
</p>

<div class="container clearfix">
  <p class="text">
    <img
      class="image-center"
      src="/static/images/tokyo_img/ginza.jpg"
      alt="A picture of Ginza"
    />
    If your are in the mood for shopping, take a trip to Ginza. Ginza is where
    you can find all the name brand items. Your first stop should be, Chuo Dori,
    Ginza's 1 km-long shopping street. It is closed on the weekend to traffic,
    so that is the best time to go.
  </p>
</div>

<div class="container clearfix">
  <p class="text">
    <img
      class="image-center"
      src="/static/images/tokyo_img/tower.jpg"
      alt="A picture of Tokyo Tower"
    />
    On top of shopping, there are other things to enjoy as well. Check out Tokyo
    Tower. There is a place within Tokyo Tower called
    <a href="https://tokyotower.red-brand.jp/en/activities/">Red Tokyo Tower</a
    >. It is an indoor digital amusement park, fun for both children and adults.
    However, make sure you go in even numbers, most of the games are center
    around an even number of people. But of course, if you want to just enjoy
    the views of a really tall building head over to
    <a href="https://www.tokyo-skytree.jp/en/">Tokyo Skytree</a>. You can see a
    wonderful 360 degree view of Tokyo from the 350th floor.
  </p>
</div>

<div class="container clearfix">
  <p class="text">
    <img
      class="image-center"
      src="/static/images/tokyo_img/team_labs.jpg"
      alt="A picture from teamLabs borderless"
    />
    If you are looking for more picturesque ig photos, head to teamLabs. There
    are two in Tokyo. One of them is called
    <a href="https://www.teamlab.art/e/tokyo/">teamLab Borderless</a>. It is
    filled with beautiful rooms full of lights and designs. Take your time and
    look carefully, as you might walk right past a room! The other is
    <a href="https://www.teamlab.art/e/planets/">teamLab Planets</a>. This has a
    similar concept as borderless (just like all teamLabs around the world), but
    with this one comes plants and water. Be sure to wear shorts, and ladies,
    best to not wear a skirt or dress, as there is a mirror room. If you insist
    on wearing a skirt because Tokyo summers are horribly hot, the place offers
    shorts for you, just incase you forget!
  </p>
</div>

<div class="container clearfix">
  <p class="text">
    The
    <a href="https://www.cupnoodles-museum.jp/en/yokohama/"
      >Cup Noodles Museum</a
    >
    is a great place to let your inner child out (or let your childred have fun)
    by making your own cup noodles catered to your taste, along with customizing
    your cup with a unique design of your choice.
  </p>
</div>

<div class="container clearfix">
  <p class="text">
    <img
      class="image-center"
      src="/static/images/tokyo_img/tokyo_disneyland.jpg"
      alt="a picture of Tokyo Disneyland"
    />
    If you are looking for something to do that will take up a whole day, check
    out <a href="https://www.tokyodisneyresort.jp/en/tdl/">Tokyo Disneyland</a>.
    Plan your trip and get there early, because the lines are long!
  </p>
</div>

<div class="container clearfix">
  <p class="text">
    <img
      class="image-center"
      src="/static/images/tokyo_img/scramble.jpg"
      alt="a pictur of Shibuya Scramble"
    />
    Don't forget about the famous Shibuya Scramble. Along with Tokyo night life.
    If you like drinking, check out Golden Gai in Shinjuku. It is open from
    8pm-early morning. Just the right place to go if you miss your last train
    back to your hotel. If that is not what you are into, check out the Imperial
    Palace and the many museums Tokyo has to offer.
    <img
      class="image-center"
      src="/static/images/tokyo_img/night_life.jpg"
      alt="a picture of night life in Tokyo"
    />
  </p>
</div>

<div class="container clearfix">
  <p class="text">
    Last but not least the food! Tokyo is filled with many options for food.
    Sushi is great place to start, if you are on a budget and still want good
    sushi, try kaiten sushi (conveyor belt sushi), Kura Sushi is fun because
    every fifth plate you get a chance to win a prize, Uobei is another good
    one, and Hama Sushi. Try yakiniku! At a yakiniku restaurant you will grill
    bite sized pieces of meat that you can enjoy with various dipping sauces and
    sides. Another popular place to eat is at an izakaya, a Japanese restaruant
    that serves food and drinks in a casual setting at cheap prices. An easy one
    to find is Torikizoku, but be warned they are always packed!
  </p>
</div>

<div class="container clearfix">
  <p class="text">
    <img
      class="image-center"
      src="/static/images/tokyo_img/cherry_blossoms.jpg"
      alt="a picture of cherry blossoms"
    />
    Whether you visit during cherry blossom season in spring, summer, autumn, or
    winter, Tokyo has it all and is the place to be!
  </p>
</div>
{% endblock %}
