{% extends "layout.html" %} {% block title %} Hakone {% endblock %} 



{% block content %}

    <h1>Hakone</h1>
    <p>
        Hakone is a tranquil escape into nature, where hot springs, breathtaking mountain views, 
        and glimpses of Mount Fuji create the perfect retreat. 
    </p>
    <p>
        Ok so you got Hakone. This an easy one day trip if you are staying in Tokyo. So here is 
        what you should do!
    </p>
    <p>
        Go to the <a href="https://www.hakone-oam.or.jp/en/">Open Air Museum</a>. It a sculputre
        museum all based outside. <img src="/static/images/hakone_img/open_air.jpg" alt="a picture
        of the inside of one the scuptures at the Open Air Museum in Hakone">
    </p>
    <p>
        Once you are done with that, you need to take a bus or a cable car to the Hakone Ropeway.
        <img src="/static/images/hakone_img/volcano.jpg" alt="volcanos in Hakone"> The ropeway will
        take you over an active volcano up to Owakudani. You will see the sulfuric fumes being released. 
        This volcano is the source to the mineral rich onsen, and the reason for the black eggs. <img src="/static/images/hakone_img/black_eggs.jpg" 
        alt="a picture of black eggs from Hakone"> It is believed that one egg adds seven years to your life,
        and make sure it sticks, you have to purchase 3 or 4 at a time!
    </p>
    <p>
        But Hakone has a lot more to explore, like the actual onsen! <img src="/static/images/hakone_img/onsen.jpg" 
        alt="a picture of an onsen in Hakone"> Check out the other things while you are there too! 
        There are museums. The Osawara Castle <img src="/static/images/hakone_img/odawara_castle.jpg" 
        alt="a picture of the Odawara Castle in Hakone"> You can also go to the Hakone Shrine. <img src="/static/images/hakone_img/hakone_shrine.jpg"
        alt="a picture of red torii gate at Hakone Shrine">
    </p>
    <p>
        If you want to take it easy check out <a href="https://hakonegardens.jp/">Hakone Gardens</a>, where 
        the flowers change with every season. There is also a cafe that uses Hakone ingredients, with a Danish theme.
        <img src="/static/images/hakone_img/garden_cafe.jpg" alt="a picture of Hakone Gardens">
    </p>
    <p>
        If you're not tired of gardens yet, got to one with a waterfall; Hein Waterfall. You'll be able to see
        golden carp and ducks while you enjoy the view of the cascading waterfall. <img src="/static/images/hakone_img/ring_waterfall.jpg"
        alt="a picture of a Hein waterfall in Hakone">
    </p>

{% endblock}%