{% extends "layout.html" %} {% block title %} Hokkaido {% endblock %} 



{% block content %}

    <h1>Hokkaido</h1>
    <p>
        Hokkaido is Japan's wild frontier, where vast landscapes, powdery ski slopes, 
        and breathtaking coastlines offer adventure in every season. 
    </p>
    <p>
        One place that might seem completely different to you than what you might already know
        about Hokkaido, is the Shirogane Blue Pond. <img src="/static/images/hokkaido_img/shirogane_bluepond.jpg"
        alt="a picture of the blue pond in Hokkaido"> The color of the water is caused by the impurities
        in the waters from the Shirahige Falls.
    </p>
    <p>
        Hokkaido can be enjoyed every season, so if you're into skiiing visit Furano Ski Resort. If 
        not, visit Furano anyway for its famous lavernder fields.
        <img src="/static/images/hokkaido_img/ski_resort.jpg" alt="a picture of Furano Ski Resort in Hokkaido">
        <img src="/static/images/hokkaido_img/furano.jpg" alt="a picutre of lavendar fields in Furano, Hokkaido">
    </p>
    <p>
        For beautiful landscapes and natural beauty check out Daisetsuzan National Park. Out of Japan's other
        34 national parks, it is the most mountainous. Also head to Numa-no-Hara High Moor, where you will find Sounkyo Osen,
        Hokkaido's largest hot spring area. This onsen also hosts the Sounkyo Fire Festival, every summer. Along
        with the Ice Fall Festival in midwinter to mid-March.
        <img src="/static/images/hokkaido_img/mount_asahi.jpg" alt="a picture of Mount Asahi">
        You are also able to take a cable car then chair lift from Sounkyo Station , that will take you through forests,
        past clouds, and up to the summit of Mt. Kurodake. For more into click <a href="https://www.rinyu.co.jp/kurodake/">here</a>.
    </p>
    <p>
        While you are in Hokkaio don't forget to get your hands on some seafood, including variuos crabs,
        fresh scallops, and various types of fresh fish. Also some Hokodate Ramen, Hokkaido style ramen.
        <img src="/static/images/hokkaido_img/crab.jpg" alt="a picture of a huge cooked crab">
        <img src="/static/images/hokkaido_img/ramen.jpg" alt="a picture of Hakodate Ramen from Hokkaido">
    </p>

{% endblock %}