{% extends "layout.html" %} {% block title %} Kanazawa {% endblock %} {% block
content %}
<h1 class="destination-title">Kanazawa</h1>
<p class="quote">
  Kanazawa is a city of timeless elegance, where samurai districts, exquisite
  gardens, and a legacy of gold leaf artistry reflect a rich cultural heritage.
</p>

<div class="container clearfix">
  <p class="text">
    Kenroku-en is the place to go if you love walking in a garden during every
    season.
    <img class="image-center"
      src="/static/images/kanazawa_img/kenrokuen.jpg"
      alt="a picture of Kenroku-en garden in Kanazawa"
    />
  </p>
</div>

<div class="container clearfix">
  <p class="text">
    If you want to see geisha perform and see a traditional neighborhood go to
    Higashi Chaya District.
    <img class="image-center"
      src="/static/images/kanazawa_img/geisha_house.jpg"
      alt="a picture of a geisha house 
        in Higashi Chaya District"
    />
  </p>
</div>

<div class="container clearfix">
  <p class="text">
    Also check out Kanazawa Castle and the park that is attached to it. It's a
    castle from the 16th century and is famous for its vast garden.
    <img class="image-center"
      src="/static/images/kanazawa_img/kanazawa_castle.jpg"
      alt="a picture of Kanazawa castle"
    />
  </p>
</div>

<div class="container clearfix">
  <p class="text">
    <a href="https://ohmicho-ichiba.com/">Omchi Market</a> is a place to go if
    you are looking for fresh produce, meat, and seafood.
  </p>
</div>

<div class="container clearfix">
  <p class="text">
    If you want to feel tradition go to the Tsuzumi-mon Gate. It's made of wood
    and the design is based on the shirabeo, the cords that are used on drums to
    hold and tune them. These type of drums are used used in Kanazawa's
    traditional performing arts.
    <img class="image-center"
      src="/static/images/kanazawa_img/tsuzumi_gate.jpg"
      alt="a picture of Tsuzumi-mon gate in Kanazawa"
    />
  </p>
</div>

<div class="container clearfix">
  <p class="text">
    For a nice walk on a trail through thick forests that leads past a
    waterfall, you should go to
    <a href="https://g.co/kgs/RYwuk4D">Iozen</a>.
  </p>
</div>

<div class="container clearfix">
  <p class="text">
    Kanazawa has a lot more museums, shrines and gates to explore. If you have
    time aloso check out those places!
  </p>
</div>
{% endblock %}
