{% extends "layout.html" %} {% block title %} Sapporo {% endblock %} 


{% block content %}
    <h1 class="destination-title">Sapporo</h1>
    <p class="quote">
        Sapporo blends urban energy with natural beauty, offering world-class beer, 
        winter wonderlands, and sprawling landscapes that change with the seasons.
    </p>

    <div class="container clearfix">
    <p class="text">
        <img class="image-center" src="/static/images/sapporo_img/snow_festival.jpg" alt="a picture of a snow sculpture 
        at the Sapporo snow festival">
        The first thing that comes to mind when you think of Sapporo should be the 
        snow festival. If you like beer...that might be first, but more on that later.
        The famous snow festival is held every year around the beginning of Februrary and
        is held for one week. You'll get to see massive snow sculptures, which are beautiful 
        during the day or night.
        
    </p>
    </div>
    
    <div class="container clearfix">
    <p class="text">
        If beer is your thing, head to the <a href="https://www.sapporobeer.jp/english/brewery/s_museum/">
        Sapporo Beer Museum</a>, a whole museum dedicated to beer. Learn about the long history of Sapporo Beer.
        <img class="image-center" src="/static/images/sapporo_img/beer_museum.jpg" alt="a picture of the Sapporo Beer Museum">
    </p>
    </div>
    
    <div class="container clearfix">
    <p class="text">
        Once you are done with that, make your way to the <a href="https://visit.sapporo.travel/discover/city/tanuki-koji-shopping-street/">
        Koji Shopping district</a>. <img class="image-center" src="/static/images/sapporo_img/tanuki_koji_shopping.jpg" alt="a picture
        of the Tanuki Shopping district in Sapporo">
    </p>
    </div>
    
    <div class="container clearfix">
    <p class="text">
        Check out these two museums:
        <ul>
            <li>
                <a class="text" href="https://artmuseum.pref.hokkaido.lg.jp/knb/english">Museum of Modern Art</a> 
                <img src="/static/images/hokkaido_img/modern_art_museum.jpg" alt="a picture of Hokkaido Museum of Modern Art in Sapporo">
            </li>
            <li>
                <a class="text" href="https://www.ssc.slp.or.jp/english">Sapporo Science Center</a> 
                <img src="/static/images/sapporo_img/sapporo_science_center.jpg" alt="a picture of the inside of 
                Sapporo Science Center">
            </li>
        </ul>
    </p>
    </div>
    
    <div class="container clearfix">
    <p class="text">
        Sapporo is also home to many ski resorts. So check out those places a well if you are traveling during winter.
    </p>
    </div>
{% endblock %}