{% extends "layout.html" %} {% block title %} Hiroshima {% endblock %} {% block
content %}

<h1 class="destination-title">Hiroshima</h1>
<p class="quote">
  Hiroshima is a city of resilience and peace, where history's lessons stand
  alongside a thriving metropolis dedicated to hope and renewal.
</p>

<div class="container clearfix">
<p class="text">
  If you travel to Hiroshima, you will feel the immense engery that that place
  brings. Start by going to the Atomic Bomb Dome.
  <img class="image-center"
    src="/static/images/hiroshima_img/dome.jpeg"
    alt="a picture of the Atomic Bomb Dome"
  />
  There are other peace dedications around there that you can also check out.
  <img class="image-center"
    src="/static/images/hiroshima_img/dedication_img.jpeg"
    alt=" a picture
        dedicated to peace"
  />
</p>
</div>

<div class="container clearfix">
<p class="text">
  Right next to the Atomic Bomb Dome is the
  <a href="https://hpmmuseum.jp/?lang=eng">Hiroshima Peace Memorial Museum</a>
  <img class="image-center"
    src="/static/images/hiroshima_img/peace_memorial.jpg"
    alt="a picture
        of the Peace Memorial Museum in Hiroshima"
  />
</p>
</div>

<div class="container clearfix">
<p class="text">
  Another place to visit is the Hiroshima Castle.
  <img class="image-center"
    src="/static/images/hiroshima_img/hiroshima_castle.jpg"
    alt="a picture of Hiroshima Castle"
  />
</p>
</div>

<div class="container clearfix">
<p class="text">
  A popular place to go is Itsukushima Shrine, to see the floating Torii Gate.
  <img class="image-center"
    src="/static/images/hiroshima_img/itsukushima.jpg"
    alt="a picture of Itsukushima floating torii gate"
  />
  You will have to take a ferry to Miyajima Island to see the shrine. Make sure
  you stay long enough to see the shrine at high tide and low tide. Which is
  easy enough if you hike Mount Misen!
  <img class="image-center"
    src="/static/images/hiroshima_img/ropeway.jpg"
    alt="a picture of the ropeway on Mount Misen"
  />
</p>
</div>

<div class="container clearfix">
<p class="text">
  If you're into cars go the
  <a href="https://www.mazda.com/ja/experience/museum/">Mazda Museum</a>.
  <img class="image-center"
    src="/static/images/hiroshima_img/mazda.jpg"
    alt="a picture of a mazda car from the Mazda Museum in Hiroshima"
  />
</p>
</div>
{% endblock %}
