{% extends "layout.html" %} {% block title %} Nara {% endblock %} {% block
content %}
<h1>Nara</h1>
<p>
  Nara is the cradle of Japanese civilization, where sacred deer roam freely
  among the country's oldest temples and historical treasures.
</p>
<p>
  Of the most famous things about Nara is its deer in Nara Park.
  <img
    src="/static/images/nara_img/nara_winter.jpg"
    alt="a picture of a deer during winter in Nara Park"
  />
  There you can feed the deer. Be careful though, some deer are more aggressive
  than others.
</p>
<p>
  If you're in Nara for the culture, check out
  <a href="https://www.todaiji.or.jp/en/information/daibutsuden/"
    >Todai-ji Daibutsuden (Great Buddha Hall)</a
  >, home to one of the largest indoor seated Buddha.
  <img
    src="/static/images/nara_img/buddha.jpg"
    alt="a picture of a giante seated buddha in Nara"
  />
  Make sure to try your luck with fitting through the "Buddha Nostril". Said to
  grant a degree of enlightenment in the next life for anyone that can fit
  through it.
  <img
    src="/static/images/nara_img/buddha_nostril.jpeg"
    alt="a picture 
        of column with a square whole of the base of it that represents the size of the big buddha nostril"
  />
</p>
<p>
  Other historical places to check out:
  <u>
    <li>
      Kofuku-ji Temple
      <img
        src="/static/images/nara_img/kofukuji.jpg"
        alt="a picture of Kofuku-ji Temple"
      />
    </li>
    <li>
      Heijo Palace
      <img
        src="/static/images/nara_img/heijo_palace.jpg"
        alt="a picture of Heijo Palace"
      />
    </li>
    <li>
      Kasuga Taisha Shrine
      <img
        src="/static/images/nara_img/kasuga_taisha.jpg"
        alt="a picture of Kasuga Taisha Shrine"
      />
    </li>
  </u>
</p>
<p>
  Nara is very close to Osaka and Kyoto. How about planning your trip around all
  these places to get the best out your trip!
</p>
{% endblock %}
