{% extends "layout.html" %} {% block title %} Shikoku {% endblock %} {% block
content %}

<h1 class="destination-title">Shikoku</h1>
<p class="quote">
  Shikoku is a land of spiritual journeys and hidden gems, where the 88-temple
  pilgrimage, dramatic coastlines, and rural charm invite exploration.
</p>

<div class="container clearfix">
  <p class="text">
    <img
      class="image-center"
      src="/static/images/shikoku_img/ritsurin_garden.jpg"
      alt="a picture of Ritsurin Garden"
    />
    Ritsurin Garden is a place to relax and enjoy nature, on top of being able
    to take a boat ride.
  </p>
</div>

<div class="container clearfix">
  <p class="text">
    <img
      class="image-center"
      src="/static/images/shikoku_img/kotohiragu.jpg"
      alt="a picture of Kotohiragu in Shikoku"
    />
    If you want to go hiking halfway up Mount Zozu you will see Kotohiragu.
  </p>
</div>

<div class="container clearfix">
  <p class="text">
    <img
      class="image-center"
      src="/static/images/shikoku_img/matsuyama_castle.jpg"
      alt="a picture of Matsuyama Castle in 
    Shikoku"
    />
    A castle is always cool to see, so go check out Matsuyama Castle. Or you can
    go to the Kochi castle.
    <img
      class="image-center"
      src="/static/images/shikoku_img/kochi_castle.jpg"
      alt="
    a picture of Kochi Castle in Shikoku"
    />
  </p>
</div>

<div class="container clearfix">
  <p class="text">
    At
    <a href="https://o-museum.or.jp/en/publics/index/">Otsuka Museum of Art</a>
    you see amazingly beautiful reproductions of famous art work.
    <img
      class="image-center"
      src="/static/images/shikoku_img/otsuka_museum.jpg"
      alt="a picture of Otsuka Museum of Art in Shikoku"
    />
  </p>
</div>

<div class="container clearfix">
  <p class="text">
    <a href="https://www.uzunomichi.jp/"
      >Tokushima Prefectural Uzu-no-Michi Walkway</a
    >
    offers views of whirlpools in the Naruto Straight, that can be seen through
    a glass-floor walkway.
  </p>
</div>

<div class="container clearfix">
  <p class="text">
    <img
      class="image-center"
      src="/static/images/shikoku_img/beach.jpg"
      alt="a picture of Chichibugahama Beach"
    />
    Chichibugahama Beach will mesmerize you with its vivid reflective waters.
  </p>
</div>

<div class="container clearfix">
  <p class="text">
    Love cars go to
    <a href="https://lovemota.vistanet.co.jp/museum/"
      >Shikoku Automobile Museum</a
    >
  </p>
</div>

<div class="container clearfix">
  <p class="text">
    <img
      class="image-center"
      src="/static/images/shikoku_img/towel_museum.jpg"
      alt="a picture of the Towel Museum in Shikoku"
    />
    Or if you love towels go to
    <a href="https://www.towelmuseum.com/en/">The Towel Museum</a>
  </p>
</div>

<div class="container clearfix">
  <p class="text">
    Explore <a href="https://ryugadou.or.jp/english/">Ryugado Cave</a>, to see
    interesting rock formations.
    <img
      class="image-center"
      src="/static/images/shikoku_img/cave.jpg"
      alt="a pciture of Ryugado Cave in Shikoku"
    />
  </p>
</div>

<div class="container clearfix">
  <p class="text">
    And for all the train lovers out there go to
    <a href="https://s-trp.jp/">Railway History Park in SAIJŌ</a>.
  </p>
</div>
{% endblock %}
