{% extends "layout.html" %}

{% block title %}
    Survey Page
{% endblock %}

{% block content %}
    <h1>Japan Destination Survey</h1>
    <form id="survey-form" method="POST" action="{{ url_for('submit') }}">

        <label>What kind of traveler are you?</label><br>

        <input type="radio" name="q1" value="Urban explorer" id="Urban explorer" required>
        <label for="Urban explorer">Urban explorer</label><br>
        <input type="radio" name="q1" value="Nature lover" id="Nature lover">
        <label for="Nature lover">Nature lover</label><br>
        <input type="radio" name="q1" value="Culture seeker" id="Culture seeker">
        <label for="Culture seeker">Culture seeker</label><br>
        <input type="radio" name="q1" value="Food enthusiast" id="Food enthusiast">
        <label for="Food enthusiast">Food enthusiast</label><br><br>

        <label>Which of these activities interests you the most?</label><br>

        <input type="radio" name="q2" value="Visiting historical sites" id="Visiting historical sites" required>
        <label for="Visiting historical sites">Visiting historical sites</label><br>
        <input type="radio" name="q2" value="Shopping in trendy areas" id="Shopping in trendy areas">
        <label for="Shopping in trendy areas">Shopping in trendy areas</label><br>
        <input type="radio" name="q2" value="Hiking or nature sightseeing" id="Hiking or nature sightseeing">
        <label for="Hiking or nature sightseeing">Hiking or nature sightseeing</label><br>
        <input type="radio" name="q2" value="Experiencing nightlife & entertainment" id="Experiencing nightlife & entertainment">
        <label for="Experiencing nightlife & entertainment">Experiencing nightlife and entertainment</label><br><br>

        <label>Which season do yo prefer to travel in?</label><br>

        <input type="radio" name="q3" value="Winter" id="Winter" required>
        <label for="Winter">Winter</label><br>
        <input type="radio" name="q3" value="Spring" id="Spring">
        <label for="Spring">Spring</label><br>
        <input type="radio" name="q3" value="Summer" id="Summer">
        <label for="Summer">Summer</label><br>
        <input type="radio" name="q3" value="Autumn" id="Autumn">
        <label for="Autumn">Autumn</label><br><br>

        <label>Which of these foods would you love to try in Japan?</label><br>

        <input type="radio" name="q4" value="Sushi and Seafood" id="Sushi and Seafood" required>
        <label for="Sushi and Seafood">Sushi and Seafood</label><br>
        <input type="radio" name="q4" value="Ramen and Noodle Dishes" id="Ramen and Noodle Dishes">
        <label for="Ramen and Noodle Dishes">Ramen and Noodle dishes</label><br>
        <input type="radio" name="q4" value="Wagyu Beef and BBQ" id="Wagyu Beef and BBQ"> 
        <label for="Wagyu Beef and BBQ">Wagyu Beef and BBQ</label><br>
        <input type="radio" name="q4" value="Sweets and Matcha Desserts" id="Sweets and Matcha Desserts">
        <label for="Sweets and Matcha Desserts">Sweets and Matcha desserts</label><br><br>

        <label>What's your ideal travel pace?</label><br>

        <input type="radio" name="q5" value="Fast-Paced" id="Fast-Paced" required>
        <label for="Fast-Paced">Fast-Paced</label><br>
        <input type="radio" name="q5" value="Balanced" id="Balanced">
        <label for="Balanced">Balanced</label><br>
        <input type="radio" name="q5" value="Slow Travel" id="Slow Travel">
        <label for="Slow Travel">Slow traveler</label><br><br>

        <label>What's your preferred travel style?</label><br>

        <input type="radio" name="q6" value="Budget" id="Budget" required>
        <label for="Budget">Budget</label><br>
        <input type="radio" name="q6" value="Mid-Range" id="Mid-Range">
        <label for="Mid-Range">Mid-range</label><br>
        <input type="radio" name="q6" value="Luxury" id="Luxury">
        <label for="Luxury">Luxury</label><br><br>

        <label>How do you usually travel?</label><br>

        <input type="radio" name="q7" value="Solo"  id="Solo" required>
        <label for="Solo">Solo</label><br>
        <input type="radio" name="q7" value="In a group" id="In a group">
        <label for="In a group">In a group</label><br>
        <input type="radio" name="q7" value="With family" id="With family">
        <label for="With family">With family</label><br>
        <input type="radio" name="q7" value="As a couple" id="As a couple">
        <label for="As a couple">As a couple</label><br><br>

        <label>Would you rather visit:</label><br>

        <input type="radio" name="q8" value="Famous Destinations" id="Famous Destinations" required>
        <label for="Famous Destinations">Famous destinations</label><br>

        <input type="radio" name="q8" value="Hidden Gems" id="Hidden Gems">
        <label for="Hidden Gems">Hidden gems</label><br><br>


        <button type="submit">Submit</button>

        
    </form>
{% endblock %}