{% extends "layout.html" %}

{% block title %}
    Survey Page
{% endblock %}

{% block content %}
    <h1>Japan Destination Survey</h1>
    <form id="survey-form" method="POST" action="{{ url_for('submit') }}">

        <label>What kind of traveler are you?</label><br>

        <input type="radio" name="q1" value="urban_explorer" id="urban_explorer" required>
        <label for="urban_explorer">Urban explorer</label><br>
        <input type="radio" name="q1" value="nature_lover" id="nature_lover">
        <label for="nature_lover">Nature lover</label><br>
        <input type="radio" name="q1" value="culture_seeker" id="culture_seeker">
        <label for="culture_seeker">Culture seeker</label><br>
        <input type="radio" name="q1" value="food_enthusiast" id="food_enthusiast">
        <label for="food_enthusiast">Food enthusiast</label><br><br>

        <label>Which of these activities interests you the most?</label><br>

        <input type="radio" name="q2" value="historical_sites" id="historical_sites" required>
        <label for="historical_sites">Visiting historical sites</label><br>
        <input type="radio" name="q2" value="shopping" id="shopping">
        <label for="shopping">Shopping in trendy areas</label><br>
        <input type="radio" name="q2" value="hiking" id="shopping">
        <label for="hiking">Hiking or nature sightseeing</label><br>
        <input type="radio" name="q2" value="nightlife" id="nightlife">
        <label for="nightlife">Experiencing nightlife and entertainment</label><br><br>

        <label>Which season do yo prefer to travel in?</label><br>

        <input type="radio" name="q3" value="winter" id="winter" required>
        <label for="winter">Winter</label><br>
        <input type="radio" name="q3" value="spring" id="spring">
        <label for="spring">Spring</label><br>
        <input type="radio" name="q3" value="summer" id="summer">
        <label for="summer">Summer</label><br>
        <input type="radio" name="q3" value="autumn" id="autumn">
        <label for="autumn">Autumn</label><br><br>

        <label>Which of these foods would you love to try in Japan?</label><br>

        <input type="radio" name="q4" value="sushi_seafood" id="sushi_seafood" required>
        <label for="sushi_seafood">Sushi and Seafood</label><br>
        <input type="radio" name="q4" value="ramen_noodle" id="ramen_noodle">
        <label for="ramen_noodle">Ramen and Noodle dishes</label><br>
        <input type="radio" name="q4" value="wagyu_bbq" id="wagyu_bbq"> 
        <label for="wagyu_bbq">Wagyu Beef and BBQ</label><br>
        <input type="radio" name="q4" value="sweets_matcha" id="sweets_matcha">
        <label for="sweets_matcha">Sweets and Matcha desserts</label><br><br>

        <label>What's your ideal travel pace?</label><br>

        <input type="radio" name="q5" value="fast_paced" id="fast_paced" required>
        <label for="fast_paced">Fast-paced</label><br>
        <input type="radio" name="q5" value="balanced" id="balanced">
        <label for="balanced">Balanced</label><br>
        <input type="radio" name="q5" value="slow_taveler" id="slow_taveler">
        <label for="slow_taveler">Slow traveler</label><br><br>

        <label>What's your preferred travel style?</label><br>

        <input type="radio" name="q6" value="budget" id="budget" required>
        <label for="budget">Budget</label><br>
        <input type="radio" name="q6" value="mid_range" id="mid_range">
        <label for="mid_range">Mid-range</label><br>
        <input type="radio" name="q6" value="luxury" id="luxury">
        <label for="luxury">Luxury</label><br><br>

        <label>How do you usually travel?</label><br>

        <input type="radio" name="q7" value="solo"  id="solo" required>
        <label for="solo">Solo</label><br>
        <input type="radio" name="q7" value="group" id="group">
        <label for="group">In a group</label><br>
        <input type="radio" name="q7" value="family" id="family">
        <label for="family">With family</label><br>
        <input type="radio" name="q7" value="couple" id="couple">
        <label for="couple">As a couple</label><br><br>

        <label>Would you rather visit:</label><br>

        <input type="radio" name="q8" value="famous" id="famous" required>
        <label for="famous">Famous destinations</label><br>

        <input type="radio" name="q8" value="hidden" id="hidden">
        <label for="hidden">Hidden gems</label><br><br>


        <button type="submit">Submit</button>

        
    </form>
{% endblock %}